/* RecentlyReadItem.scss */
.recently-read-item {
  display: grid;
  grid-template-columns: 0.4fr 2.5fr 1fr 0.1fr;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;

  &:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  div {
    display: flex;
    align-items: center;
  }
  
  div:first-child {
    width: 100px;
    flex-shrink: 0;
  }
  
  div:nth-child(2) {
    flex-grow: 1;
    padding: 0 10px;
  }
  
  .right-section {
    min-width: 120px;
    text-align: right;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  div:last-child {
    width: 40px;
    justify-content: center;
    flex-shrink: 0;
  }
  
  .time-ago {
    color: #888;
    font-size: 13px;
  }
  
  .item-title {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: #b78a28;
    }
  }
  
  .read-status {
    color: #888;
    font-size: 13px;
  }
  
  .remove-button {
    background: none;
    border: 1px solid #ccc;
    color: #888;
    width: 24px;
    height: 24px;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    
    &:hover {
      color: #f66;
      border-color: #f66;
    }
  }
}